<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <style>
    .message-bubble 
{
    padding: 10px 0px 10px 0px;
}

.message-bubble-server-error 
{
    padding: 10px 0px 10px 0px;
    background-color: rgb(224, 136, 136);
}

.message-bubble:nth-child(even) { background-color: #F5F5F5; }

.message-bubble > *
{
    padding-left: 10px;  
    word-wrap: break-word;  
}

.panel-body { padding: 0px; }

.panel-heading { background-color: #3d6da7 !important; color: white !important; }
    </style>
  </head>

  <body>
    <div class="backdrop"></div>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">MortalCHAT</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
      <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">Room: <%= room_name %></div>
            <div class="panel-body">
              <div class="container">
                <section>
                  <div class="panel-footer">
                      <div class="input-group">
                       <input id="username" type="text" class="form-control" >
                       <input id="room" type="hidden" name="room" value="<%= room %>">
                       <span class="input-group-btn">
                         <button id="send_username" class="btn btn-default" type="button" >Change username</button>
                       </span>
                     </div>
                 </div>
                </section>

                <section id="chatroom">
                  <section id="feedback"></section>
                </section>
              </div>
              <div class="panel-footer">
                  <div class="input-group">

                   <input id="message" type="text" class="form-control" >
                   <span class="input-group-btn">
                     <button class="btn btn-default" type="button" id="send_message" >Send</button>
                   </span>

                 </div>
             </div>
           </div>
         </div>
     </div>
 </div>

    <script src="/js/chat.js"></script>
    <%- include('../includes/end.ejs') %>